GOOGLE_SHEET_ID=1Js72ABpSSEL78y4Ms4GxBQig6iA9ozRhAV2-2tpLdLA
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-service-account@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE\n-----END PRIVATE KEY-----\n"
APP_PASSWORD=verdadeirospais
SESSION_SECRET=troque-por-uma-chave-aleatoria-grande
PORT=3000
